<div class="bookmark">
  <div class="bookmark__content">
    <a href="<%= url %>" rel="external">
      <h3 class="bookmark__title"><%= title %></h3>
      <span class="bookmark__url"><%= url %></span>
    </a>
  </div>

  <div class="bookmark__action">
    <input class="bookmark__url-input" type="url" value="shrtnr.dev/<%= slug %>" readonly />
  </div>
</div>
