<form action="/bookmarks" method="post" id="js-bookmarks-form" class="bookmarks-form">
  <fieldset>
    <!-- <ul class="form-list">
      <li>
        <label for="title">Title</label>
        <input name="bookmark[title]" id="title" type="text" placeholder="Title" required />
      </li>

      <li>
        <label for="url">URL</label>
        <input name="bookmark[url]" id="url" type="url" placeholder="URL" required />
      </li>
    </ul> -->

    <div class="form-group">
      <input class="form-group__item" name="bookmark[title]" id="title" type="text" placeholder="Title" required />
      <input class="form-group__item" name="bookmark[url]" id="url" type="url" placeholder="URL" required />
    </div>
  </fieldset>

  <input type="submit" id="js-bookmarks-form-submit-button" hidden />
</form>
