<!DOCTYPE html>
<html>
  <head>
    <title>Shrtnr</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="/assets/stylesheets/application.css" rel="stylesheet" />

    <script src="/assets/javascripts/application.js" defer async></script>
    <script src="//use.typekit.net/bfo2orc.js" onload="try{Typekit.load();}catch(e){}" defer async></script>
  </head>

  <body>
    <header class="banner">
      <h1 class="banner__title">Shrtnr</h1>
    </header>

    <%== yield %>
  </body>
</html>
